.home_header{
    color: whitesmoke;
    height: auto;
}

.home_child_component{
    border: 1px solid rgb(223, 223, 223);
    height: auto;
    align-self: center;
}

.homebtn{
    margin: 3px;
}

.homePageBtns{
    justify-content: space-between;
}

.txidC{
    color: white;
}

.txidC h3{
    color: rgb(223, 59, 59);
}

.tokenBtn{
    margin: 40px;
}

.container{
    margin: 65px
}

.switch{
    margin: 10px;
}

.wraptoken{
    overflow: hidden;
    overflow-wrap: break-all;
}

.dangerText{
    color: red;
    text-decoration: wavy;
}

.profileName{
    flex-direction: column;
}

.display{
    background-color: rgb(44, 44, 44);
    color: rgb(160, 160, 160);
}

.historyCard{
    color: rgb(199, 54, 54);
    cursor: pointer;
}

.userinfo{
    color: peru;
    text-decoration: double;
}

.addCarInfo{
    color: rgb(241, 4, 241);
    text-decoration: wavy;
}